* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    background-color: #3f406c;
    color: white;
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;;
}

span,p,input {
    font-size: 1.25rem;
    color: #d6d6d6;
    line-height: 1.6;
}

h3 {
    font-size: 3rem;
}

/* nav starts */
.flex-center,
.custom-circle div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.company {
    justify-content: left;
    margin-left: 30px;
}

.company h2 {
    background-color: inherit;
}

.circle {
    display: inline-block;
    border-radius: 50%;
    background-color: #ffffff;
    margin-right: 10px;
}

.largest {
    width: 15px;
    height: 15px;
}

.large {
    width: 10px;
    height: 10px;
}

.medium {
    width: 6px;
    height: 6px;
}

.small {
    width: 3px;
    height: 3px;
}

.logo {
    font-size: 16px;
    font-weight: 100;
    padding: 10px;
}

.font-size-0 {
    font-size: 0;
    width: 450px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #52547d;
}

input[type=email] {
    width: 400px;
    height: 38px;
    padding: 5px 15px;
    background-color: #5a5f89;
    border: none;
    outline: none;
}

::placeholder {
    color: rgb(209, 209, 209);
}

.button {
    width: 50px;
    height: 38px;
    background-color: #a98bda;
    border: 0;
    outline: none;
    cursor: pointer;
}

.button__tick {
    width: 10px;
    height: 10px;
    fill: #ffffff;
    background-color: inherit;
}
/* nav end */

/* main starts */
main {
    margin: 50px 0;
}

.container {
    width: 1440px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container__box {
    height: 550px;
    background-color: #5a5f89;
    margin-bottom: 10px;
}

.single{
    width: 352px;
}

.double{
    width: 715px;
}

.container__box img {
    width: 100%;
}

.custom-circle {
    justify-content: flex-start;
    margin-bottom: 5px;
}

.custom-circle div {
    width: 10px;
}

.outer-circle {
    width: 10px;
    height: 10px;
    margin: 0;
}

.inner-circle {
    width: 4px;
    height: 4px;
    background-color: #5a5f89;
    position: absolute;
    margin: 0;
}

.custom-circle-bgcolor-1{
    background-color: #ab8fd9;
}

.custom-circle-bgcolor-2{
    background-color: #ffc718;
}

.custom-circle-bgcolor-3{
    background-color: #d2d2d2;
}

.custom-circle-bgcolor-4{
    background-color: #ee728a;
}

.custom-circle-bgcolor-5{
    background-color: #2cc3cc;
}

.custom-circle-bgcolor-6{
    background-color: #f2f5fc;
}

.custom-circle-bgcolor-7{
    background-color: #000000;
}

.custom-circle-bgcolor-8{
    background-color: #5ca8f3;
}

.custom-circle__tag{
    margin-left: 15px;
}

.container__box__bottom img,
.container__box__bottom svg,
.container__box__bottom span {
    width: 20px;
    height: 20px;
    fill: #cccccc;
    vertical-align: middle;
    line-height: normal;
    margin-right: 5px;
}

.container__box__bottom span {
    margin-right: 30px;
}

.container__box__content{
    padding: 30px;
    height: 312px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.large-font {
    max-width: 184px;
    margin-bottom: 30px;
    font-size: 3.96rem;
    line-height: 1;
    font-weight: 700;
    color: #ffffff;
}

.container__box div div h3 {
    margin-bottom: 15px;
    height: 74px;
    max-width: 470px;
}

.try-button {
    font-size: 1.8rem;
    color: #ffffff;
    background-color: #aa8ed9;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    margin-top: 20px;
}

.margin-right-3px {
    margin: 0px 3px 0px 0px;
}

.flex{
    display: flex;
} 

.flex-column {
    flex-flow: column;
}

.flex-spaceBetween {
    align-items: stretch;
}

.container__box__content__main p {
    height: 80px;
    overflow: hidden;
    max-width: 630px;
}

.know-user {
    padding: 30px;
}

.know-user__logo{
    margin: 30px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

