/* Things can't use because of IE8 compatibility */
/* Grid / flexbox */
/* calc function */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #3f406c;
    color: white;
}

/* nav starts */
.circle,
.logo,
.container__box {
    display: inline-block;
}

.company {
    background-color: #52547d;
}

.company h2 {
    background-color: inherit;
}

.circle {
    border-radius: 50%;
    background-color: #ffffff;
}

.large {
    width: 10px;
    height: 10px;
    margin: 0px 3px 0px 50px;
}

.medium {
    width: 7px;
    height: 7px;
    margin: 1.5px;
}

.small {
    width: 5px;
    height: 5px;
    margin: 2.5px;
}


.logo {
    font-size: 16px;
    font-weight: 100;
    padding: 10px;
}

.font-size-0 {
    font-size: 0;
    width: 450px;
    height: 38px;
    position: absolute;
    top: 0;
    right: 0;
}

input[type=email] {
    width: 400px;
    height: 38px;
    padding: 5px 15px;
    background-color: #5a5f89;
    border: none;
    outline: none;
}

::placeholder {
    color: rgb(209, 209, 209);
}

.button {
    width: 50px;
    height: 38px;
    background-color: #a98bda;
    border: 0;
    outline: none;
    cursor: pointer;
}

.button__tick {
    width: 10px;
    height: 10px;
    fill: #ffffff;
    background-color: inherit;
}
/* nav end */

/* main starts */
main {
    width: 1000px;
    margin: 100px auto 100px auto;
    border: 1px solid red;
}

.container {
    
}

.container__box {
    /* height: 500px; */
    border: 1px solid green;
    position: relative;
}

.single{
    width: 246px;
}

.double{
    width: 498px;
}

img {
    width: 100%;
}

.custom-circle {
    position: relative;
}

.outer-circle {
    width: 10px;
    height: 10px;
    position: absolute;
    margin: 4px;
}

.inner-circle {
    width: 4px;
    height: 4px;
    background-color: #3f406c;
    margin: 7px;
    position: absolute;
    top: 0;
    left: 0;
}

.custom-circle-bgcolor-1{
    background-color: #ab8fd9;
}

.custom-circle__tag{
    margin-left: 20px;
}

.container__box__bottom img,
.container__box__bottom svg {
    width: 20px;
    height: 20px;
    fill: #cccccc;
    vertical-align: middle;
}